section,
div,
p,
a,
h1,
img {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 5rem;
    margin-top: 0rem;

    background-color: black;
    color: white;
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.landing-page {
    display: flex;
    flex-wrap: wrap;
}

.lp-left-title {
    font-size: 3rem;
    flex: 33%;
    padding-top: 5rem;
}

.bar {
    color: white;
    font-size: large;
}

.barlink {
    color: #EEC6FF;
    text-decoration: none;
}

.mainbody,
.curs-sec {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: left;

    font-size: large;

}

.curs-sec p {
    display: flex;
    gap: 0.5rem
}

.curs-sec p::after {
    content: "";
    width: 0.4rem;
    height: 1.3rem;
    background: #ffffff;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

.lp-center-img {
    flex: 33%;
}

.lp-right-img {
    flex: 33%;
}

.blog {
    width: 100%;
    height: fit-content;
    margin-top: 3rem;
}

.blog-body {
    float: left;
    margin-top: 1rem;
}

.b1 {
    display: none;
}

@media (max-width: 1000px) {

    body {
        margin: 1rem;
    }

    .lp-left-title,
    .lp-right-img {
        font-size: xx-large;
        flex: 100%;
        padding-top: 1rem;
    }

    .lp-right-img {
        padding-top: 1rem;
        min-width: 0%;
        width: 100%;
    }
}